#exportPattern("^[[:alpha:]]+")
import("ggplot2","RColorBrewer",
       "classInt",
       "sp","rgdal","maptools","rgeos","ggmap",
       "scales")
#importFrom(dplyr, left_join)
importFrom(gridExtra, arrangeGrob)
export(
  choropleth,
  dots,
  gadm.loadCountries,
  isopleth,
  json.choropleth,
  listNames,
  plotmap,
  propDots,
  subset,
  saveas,
  grid.map,
  vignette
)
S3method(choropleth, GADMWrapper)
S3method(json.choropleth, GADMWrapper)
S3method(dots, GADMWrapper)
S3method(isopleth, GADMWrapper)
S3method(listNames, GADMWrapper)
S3method(plotmap, GADMWrapper)
S3method(propDots, GADMWrapper)
S3method(saveas, GADMWrapper)
S3method(vignette, GADMWrapper)